OPENAI_API_KEY=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
SECRET_KEY=your_flask_secret_key_here
SUPABASE_URL=https://ojlvqnohvvgvjkdgysso.supabase.co
SUPABASE_KEY=sb_publishable_18Qtz64CZjNB9wzh4-DtWQ_EezrNXWQ
